﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Libraries.ECommerce.Utilities

@{
    //var CustomeFields = Model.Attributes?.Where(x => x.IsCustomeField)?.OrderBy(x => x.DisplayOrder)?.ToList();
    int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
}

<div class="col-xs-12 margin-top nopadding" id="product-content">
    <article class="tabbed-content">
        <nav class="tabs product-details-tab">
            <ul id="myTab" class="nav nav-tabs">
                @if (!string.IsNullOrEmpty(Model.Attributes?.Value("LongDescription")))
                {
                    <li><a data-test-selector="linkPanel1" href="#tab1" data-toggle="tab" id="tab-logndescription" class="tabs active " title="@WebStore_Resources.LabelTextOverview">@WebStore_Resources.LabelTextOverview</a></li>
                }
                @if (!string.IsNullOrEmpty(Model.Attributes?.Value("ProductSpecification")))
                {
                    <li><a data-test-selector="linkPanel2" href="#tab2" data-toggle="tab" id="tab-features" class="tabs" title="@WebStore_Resources.TextProductSpecifications">@WebStore_Resources.TextProductSpecifications</a></li>
                }
                <li><a data-test-selector="linkPanel3" href="#tab3" data-toggle="tab" id="tab-reviews" class="tabs" title="@WebStore_Resources.TextCustomerReviews">@WebStore_Resources.TextCustomerReviews</a></li>

                
                @*@if (Model.Attributes?.Value("ShippingInformation") != null)
                {
                    <li><a data-test-selector="linkPanel4" href="#tab4" data-toggle="tab" role="tab" id="tab-shipping" class="tabs" title="@WebStore_Resources.ColumnShipping">@WebStore_Resources.ColumnShipping</a></li>
                }
                @if (CustomeFields?.Count > 0)
                {
                    <li><a data-test-selector="linkPanel6" href="#tab6" data-toggle="tab" id="tab-youtbevideos" class="tabs" title="@WebStore_Resources.TitleAdditionalInformation">@WebStore_Resources.TitleAdditionalInformation</a></li>
                }*@
            </ul>
        </nav>
        <div id="myTabContent" class="scroll-default">
            @if (!string.IsNullOrEmpty(Model.Attributes?.Value("LongDescription")))
            {
                <div id="tab1" class="item active tab-content" data-title="@WebStore_Resources.LabelTextOverview">
                    <div class="item-content">
                        <div data-test-selector="divLongDescription" class="margin-top">@Html.RenderBlock(Model.Attributes.Value("LongDescription"))</div>
                    </div>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.Attributes?.Value("ProductSpecification")))
            {
                <div id="tab2" class="item tab-content" data-title="@WebStore_Resources.TextProductSpecifications">
                    <div class="item-content">
                        <div data-test-selector="divSpecificationDescription" id="product-specification-container" class="margin-top">
                            @Html.RenderBlock(@WebUtility.HtmlDecode(Model.Attributes?.Value("ProductSpecification")))
                        </div>
                    </div>
                </div>
            }

            <div id="tab3" class="item tab-content" data-title="@WebStore_Resources.TextCustomerReviews">
                <div class="item-content">
                    <div class="col-xs-12 nopadding no-review margin-bottom margin-top">
                        <a data-test-selector="linkWriteReview" href="/Product/writereview?id=@productId&name=@Model.Name" onClick="window.location.href='/Product/writereview?id=@productId&name=@Model.Name'" id="button-writeReview" class="link-write-review pull-right" title="@WebStore_Resources.LinkTextWriteReview">@WebStore_Resources.LinkTextWriteReview</a>
                    </div>
                    <div class="col-xs-12 nopadding product-review-main">
                        <div data-test-selector="divReviewDescription" id="product-review-container">
                            @Html.Partial("_ProductReviews", Model.ProductReviews)
                        </div>
                    </div>
                </div>
            </div>
            
            @*@if (Model.Attributes?.Value("ShippingInformation") != null)
            {
            <div id="tab4" class="item tab-content" data-title="@WebStore_Resources.ColumnShipping">
                <div class="item-content">
                    <div data-test-selector="divShippingInformation" id="product-shippinginformation-container">
                        @Html.RenderBlock(@WebUtility.HtmlDecode(Model.Attributes?.Value("ShippingInformation")))
                    </div>
                </div>
            </div>
            }
            
                @if (CustomeFields?.Count > 0)
             {
            <div id="tab6" class="item tab-content" data-title="@WebStore_Resources.TitleAdditionalInformation">
                <div class="item-content">
                    <div id="product-youtubevideo-container" class="col-xs-12 col-sm-6 nopadding">
                        @{
                            foreach (var item in CustomeFields)
                            {
                                <div class="product-brand">
                                    <label>@Html.RenderBlock(item.AttributeName) : </label>
                                    @Html.RenderBlock(item.AttributeValues)
                                </div>
                            }
                        }

                    </div>
                </div>
            </div>
            }*@
        </div>
    </article>
    <div class="col-xs-12 margin-top nopadding">
        <!--Recommended Products Widget, will be displayed on PDP page-->
        <div data-test-selector="divRecommendedProductList">
            @*<z-widget>
                @Html.WidgetPartialAjax("PDPRecommendations", "RecommendedProducts", "6611", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())
            </z-widget>*@
        </div>
    </div>
</div>

<script>
    //Tab Control In Tab/Mobile View PDP
    tabControl();
    var resizeTimer;
    $(window).on('resize', function (e) {
        clearTimeout(resizeTimer);
        resizeTimer = setTimeout(function () {
            tabControl();
        }, 250);
    });
    function tabControl() {
        var tabs = $('.tabbed-content').find('.tabs');
        if (tabs.is(':visible')) {
            tabs.find('a').on('click', function (event) {
                event.preventDefault();
                var target = $(this).attr('href'),
                    tabs = $(this).parents('.tabs'),
                    buttons = tabs.find('a'),
                    item = tabs.parents('.tabbed-content').find('.item');
                buttons.removeClass('active');
                item.removeClass('active');
                $(this).addClass('active');
                $(target).addClass('active');
            });
        } else {
            $('.item').on('click', function () {
                var container = $(this).parents('.tabbed-content'),
                    currId = $(this).attr('id'),
                    items = container.find('.item');
                container.find('.tabs a').removeClass('active');
                items.removeClass('active');
                $(this).addClass('active');
                container.find('.tabs a[href$="#' + currId + '"]').addClass('active');
            });
        }
    }
</script>


