﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Models
@model VoucherListViewModel
@using Znode.Engine.WebStore.Agents;

<div id=@Model.GridModel.FrontObjectName>
    <div id="layout-account-orderhistory" class="main-wrapper">
        <div class="container">
            <div class="row user-account">
                <div class="col-xs-12 nopadding">
                    <h1 class="page-title">@WebStore_Resources.LinkTextVouchers</h1>
                </div>
                <div class="col-xs-12 account-dashboard nopadding">
                    <div class="col-xs-12 col-sm-3 col-lg-2 nopadding">
                        <nav class="account-container-menu">
                            @Html.Partial("_AccountMenu")
                        </nav>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-lg-10 order-history right-container">
                        <div class="col-xs-12 nopadding">
                            <div class="col-xs-12 product-search voucher-list nopadding">
                                <h3 class="section-header">@WebStore_Resources.LinkTextVouchers</h3>
                                <div class="col-xs-12 filter-component">
                                    <div class="total-label">@WebStore_Resources.TitleTotalRemaining: @Helper.FormatPriceWithCurrency((@Model.List?.Sum(x => x.VoucherBalanceAmount)), PortalAgent.CurrentPortal?.CultureCode)</div>
                                    @using (Ajax.BeginForm("Vouchers", "User", new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
                                    {
                                        <div id="filterComponent">
                                            @Html.Partial("_FilterComponent", Model.GridModel.FilterColumn)
                                        </div>
                                    }
                                </div>

                                <div class="col-xs-12 list-container margin-top nopadding">
                                    <div class="col-xs-12 nopadding">
                                        @Html.Partial("_DynamicGrid", Model.GridModel)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
