﻿<!-- Modal -->
<div id="divConfigureAttributeError" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="btncloseconfigError" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Admin_Resources.Error</h4>
            </div>
            <div class="modal-body">
                <p>@PIM_Resources.ErrorConfigureAttribute</p>
            </div>
            <div class="modal-footer right">
                @Html.PrototypeRawActionLink(Admin_Resources.TextOk, null, null, "btn-text", "Products.prototype.CancelConfig()")
            </div>
        </div>

    </div>
</div>