﻿@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Agents
@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Helpers;
@model Znode.Engine.WebStore.ViewModels.CheckoutViewModel

@{
    string _display = Convert.ToString(Request.QueryString["mode"]) == "guest" ? Model.UserId < 1 ? "display:block;" : "display:none;" : "display:none;";
    bool enablePerOrderlimit = Convert.ToBoolean(PortalAgent.CurrentPortal?.GlobalAttributes?.Attributes?.FirstOrDefault(x => x.AttributeCode == WebStoreConstants.EnableUserOrderLimit)?.AttributeValue);
    bool enableUserOrderAnnualLimit = Convert.ToBoolean(PortalAgent.CurrentPortal?.GlobalAttributes?.Attributes?.FirstOrDefault(x => x.AttributeCode == WebStoreConstants.EnableUserOrderAnnualLimit)?.AttributeValue);
    UserViewModel userViewModel = SessionHelper.GetDataFromSession<UserViewModel>(WebStoreConstants.UserAccountKey);
    string cultureCode = PortalAgent.CurrentPortal.CultureCode;
    string perOrderLimitWithCurrency = HelperMethods.FormatPriceWithCurrency(userViewModel?.PerOrderLimit, cultureCode);
    string annualOrderLimitWithCurrency = HelperMethods.FormatPriceWithCurrency(userViewModel?.AnnualOrderLimit, cultureCode);
    int portalId = PortalAgent.CurrentPortal.PortalId;
    bool isRegistered = User.Identity.IsAuthenticated;
    var _portal = PortalAgent.CurrentPortal;
}


<div id="divSinglePageCheckout" class="main-wrapper">
    <div class="container">
        <div class="row mobile-row single-page-checkout">
            <div class="col-xs-12 nopadding">
                @if (Model.IsQuoteRequest)
                {
                    <h1 class="page-title" data-test-selector="lblCheckoutHeading">@WebStore_Resources.TitleQuoteRequest</h1>
                }
                else
                {
                    <h1 class="page-title" data-test-selector="lblCheckoutHeading">@WebStore_Resources.TitleCheckout</h1>
                }
            </div>
            <div class="col-xs-12 nopadding">
                <div class="col-xs-12 col-md-8 nopadding shipping-address">
                    <div class="col-xs-12 nopadding">
                        @{ Html.RenderAction("AccountAddress", "Checkout");}
                        <div style="@_display">
                            @Ajax.ActionLink("Existing Customer Login", "Login", "User", null,
                                 new AjaxOptions
                                 {
                                     UpdateTargetId = "address-popup-content",
                                     InsertionMode = InsertionMode.Replace,
                                     HttpMethod = "GET",
                                     OnBegin = "$('.address-popup').modal('hide');",
                                     OnSuccess = "$('form').removeData('validator'); $('form').removeData('unobtrusiveValidation'); $.validator.unobtrusive.parse('form');"
                                 }, new { @data_isquickview = "true", @data_toggle = "modal", @data_target = ".address-popup" })
                        </div>
                        <div style="@_display">
                            @Ajax.ActionLink("Create an account for later use", "Signup", "User", null,
                                        new AjaxOptions
                                        {
                                            UpdateTargetId = "address-popup-content",
                                            InsertionMode = InsertionMode.Replace,
                                            HttpMethod = "GET",
                                            OnBegin = "$('.address-popup').modal('hide');",
                                            OnSuccess = "$('form').removeData('validator'); $('form').removeData('unobtrusiveValidation'); $.validator.unobtrusive.parse('form');"
                                        }, new { @data_isquickview = "true", @data_toggle = "modal", @data_target = ".address-popup" })
                        </div>
                    </div>
                    <div class="col-xs-12 nopadding checkout-box margin-bottom signle-page-payment">
                        <h3 class="title">@WebStore_Resources.SinglePageCheckoutShippingMethod &nbsp; <span>@Html.RenderMessage("ShippingMethodInfo")</span></h3>
                        <div class="row">
                            <div class="shipping-method col-sm-6 text-break" id="dvShippingOptions">
                                <div id="loaderId"></div>
                            </div>

                            <div class="margin-bottom margin-top col-sm-6 hidden">
                                <div class="inhand-shipping">
                                    <div class="col-xs-12 in-hand-block nopadding">
                                        <div class="control-label">
                                            <label data_test_selector="lblInHandDate">@WebStore_Resources.LabelInHandDate:</label>
                                        </div>
                                        <div class="hand-date-picker padding-left">
                                            <div class="right-inner-icon">
                                                 @*@Html.TextBoxFor(model => model.InHandDate, Model?.InHandDate != null ? Model.InHandDate.ToDateTimeFormat() : string.Empty, new { @mindate = HelperMethods.GetDateTime(), @class = "datepicker", @group = "inhanddate", @data_date_format = HelperMethods.GetDateFormat(), @data_test_selector = "txtInHandDate" })*@
                                                <span class="zf-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar"></span>
                                            </div>
                                        </div>
                                    </div>

                                    @if (Model?.ShippingConstraints?.Count > 0)
                                    {
                                        var selectedShippingConstraint = Model.ShippingConstraints.FirstOrDefault(w => w.IsSelected == true);

                                        <div class="col-xs-12 nopadding shipping-constraints padding-top d-flex">
                                            <div class="padding-right" data-test-selector="divShippingConstraintCode">
                                                <label data_test_selector="lblShippingConstraintCode">@WebStore_Resources.LabelShippingConstraintsCode:</label>
                                                @*@Html.LabelFor(m => m.ShippingConstraintCode, new { @data_test_selector = "lblShippingConstraintCode" })*@
                                            </div>
                                            <div class="text-break">
                                                @for (int i = 0; i < Model.ShippingConstraints.Count; i++)
                                                {
                                                    <div class="styled-input" data-test-selector="div_@Model.ShippingConstraints[i].ShippingConstraintCode">
                                                        <input type="radio" id="@Model.ShippingConstraints[i].ShippingConstraintCode.Replace(" ", "_")" name="ShippingConstraintCode" value="@Model.ShippingConstraints[i].ShippingConstraintCode" data-shipping-name="@WebUtility.HtmlDecode(Model.ShippingConstraints[i].Description)" data-test-selector="chk@(Model.ShippingConstraints[i].ShippingConstraintCode)" @(((selectedShippingConstraint == null && i == 0) || Model.ShippingConstraints[i].IsSelected) ? "checked=checked" : "") />
                                                        <label data-test-selector="lbl@(Model.ShippingConstraints[i].ShippingConstraintCode)" for="@Model.ShippingConstraints[i].ShippingConstraintCode.Replace(" ", " _")">@WebUtility.HtmlDecode(Model.ShippingConstraints[i].Description)</label>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                    @if (Model.IsQuoteRequest == false)
                    {
                        <div id="divSinglePagePayment" class="col-xs-12 nopadding signle-page-payment checkout-box margin-bottom">
                            @{ Html.RenderAction("PaymentOptions", "Checkout"); }
                        </div>
                    }
                </div>
                <div class="col-xs-12 col-md-4 nopadding">
                    <div class="col-xs-12 review-order nopadding" id="cart-review-content">
                        @{
                            if (Model.ShippingId > 0)
                            {
                                Html.RenderAction("CartReview", "Checkout", new { shippingOptionId = Model.ShippingId });
                            }
                            else
                            {
                                Html.RenderAction("CartReview", "Checkout");
                            }
                        }
                        @*<div class="form-group margin-top">
                            @Html.Partial("_DataCapture", "checkout")
                        </div>*@

                    </div>
                </div>
            </div>
        </div>
		@Html.HiddenFor(model => model.InHandDate, HelperMethods.GetDateTime())
        @Html.HiddenFor(m => m.QuoteId)
        @Html.HiddenFor(m => m.OrderStatus)
        @Html.HiddenFor(m => m.PermissionCode)
        @Html.HiddenFor(m => m.RoleName)
        @Html.HiddenFor(m => m.ShippingId)
        @Html.HiddenFor(model => model.CreditCardNumber, new { @id = "hdnCreditCardNumber" })
        @Html.Hidden("EnablePerOrderlimit", enablePerOrderlimit)
        @Html.Hidden("EnableUserOrderAnnualLimit", enableUserOrderAnnualLimit)
        @Html.Hidden("PerOrderLimit", userViewModel?.PerOrderLimit)
        @Html.Hidden("AnnualOrderLimit", userViewModel?.AnnualOrderLimit)
        @Html.Hidden("AnnualBalanceOrderAmount", userViewModel?.AnnualBalanceOrderAmount)
        @Html.Hidden("PerOrderLimitWithCurrency", perOrderLimitWithCurrency)
        @Html.Hidden("AnnualOrderLimitWithCurrency", annualOrderLimitWithCurrency)
        @Html.HiddenFor(m => m.IsRequireApprovalRouting)
        @Html.HiddenFor(m => m.EnableApprovalRouting)
        @Html.Hidden("hdnPortalId", portalId)
        @Html.HiddenFor(m => m.OrderLimit)
        @Html.HiddenFor(m => m.ApprovalType)
        @Html.HiddenFor(m => m.IsQuoteRequest)

        <!-- Modal -->
        <div class="modal fade" id="PaymentModal" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog compare-product-popup">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" data-test-selector="lblPaymentApplMsg">@WebStore_Resources.LabelPaymentApplication</h4>
                    </div>
                    <div class="modal-body">
                        <p data-test-selector="lblPaymentMethodMsg">@WebStore_Resources.TextPaymentMethod</p>
                    </div>
                </div>
            </div>
        </div>
        <!--Error Payment Modal-->
        <div class="modal fade" id="ErrorPaymentModal" role="dialog">
            <div class="modal-dialog compare-product-popup">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="zf-close-circle"></i><span class="hidden">close</span></button>
                        <h4 class="modal-title" data-test-selector="lblPaymentApplErrMsg">@WebStore_Resources.LabelPaymentApplication</h4>
                    </div>
                    <div class="modal-body">
                        <p data-test-selector="lblPaymentMethodErrMsg"></p>
                        <div class="col-xs-12 margin-top-bottom nopadding">
                            <div class="pull-right">
                                <button data-test-selector="btnPaymentOk" type="button" class="btn-text btn-bg-primary btn" data-dismiss="modal">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Address Popup-->
<div class="modal fade address-popup" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="" id="address-popup-content">
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        Checkout.prototype.ShippingOptions()
        Checkout.prototype.CalculateShipping("");
        $(".cart-item-remove").remove();
    });
    $(document).off("click", "#address-popup-content .close");
    $(document).on("click", "#address-popup-content .close", function () {
        location.reload();
    });
</script>
@if (Helper.IsEnhancedEcommerceTrackingEnabled())
{
    <script>
        $("#btnCompleteCheckout").on("click", function () {
            GoogleAnalytics.prototype.SendEcommerceCheckoutOptionData(4, "");
        })
    </script>
}

