﻿@import "../_base.scss";
// Product Alternate Images.
.product-view-details .product-images{
    .product-altimages{margin-top:25px;}
    .alternate-img{
        .owl-controls{top:-35px;}
        .item img{text-align:center;width:100%;margin:auto;}
        .item .setimage{border:2px solid #e8e8e8;display:flex;margin:0 auto;width:80px;height:80px;background-color:#fff;cursor: pointer;overflow:hidden;}
        .item .setimage:hover{border:2px solid $base-color-primary;}
     } 
    .owl-theme .owl-controls .owl-buttons div {padding: 5px 9px;}
    .owl-theme .owl-buttons i { margin-top: 2px;font-size:18px;}
    .owl-theme .owl-controls .owl-buttons div {position: absolute;}
    .owl-theme .owl-controls .owl-buttons .owl-prev {left: 0px;top: 20px;}
    .owl-theme .owl-controls .owl-buttons .owl-next {right: 0px;top: 20px;}
    .owl-theme .owl-controls{margin-top:10px;
        .owl-buttons .owl-prev,.owl-buttons .owl-next{border-radius:0px;color:$base-color-primary;height:35px;width:35px;margin:0;line-height:30px;opacity:1;font-family:$znode-icon-font !important;box-shadow: 0px 1px 2px 1px #b9b9b9;background-color:$base-color-white;
                &:hover{background-color:$base-color-primary;color:$base-color-white}
        }
        .owl-buttons .owl-prev{margin-right:5px;}

    }
    .new-product-tag{position:absolute;top:5px;right:5px;z-index:99;width:40px;height:40px;}
} 

#ImageCarausalModal{
        .modal-content{border-top-left-radius: 0px;border-top-right-radius: 0px;}
        button.close{margin-right: 2px;padding: 2px;font-size: 32px;color: $base-color-primary;opacity: 1;}
        ol#modal-carausal-image {overflow: hidden;padding: 0;margin: 0;display: -webkit-inline-box;list-style: none;height:500px;
           .SlideImage img{height:500px;}
        }
        .Imageleft{position: absolute;display: block;margin-top: -35%;}
        .Imageright{position: inherit;display: block;margin-top: -35%;}
        }
#owl-demoImage .owl-controls .owl-buttons .owl-prev, #owl-demoImage .owl-controls .owl-buttons .owl-next {
    top: 325px;
}
#owl-demoImage .item img{max-width: 100%;}
// Product Zoom Effect Out.
/*.simpleLens-gallery-container {
    margin-top: 2%;
    margin-bottom: 25px;

    .simpleLens-container {
        display: table;
        position: relative;
        margin: 0 auto;
        -ms-transform: none;
    }

    .simpleLens-big-image-container {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        position: relative;
        width: 100%;
        -ms-transform: none;

        .simpleLens-lens-image {
            height: auto !important;
            width: 100%;
            display: inline-block;
            text-align: center;
            margin: 0;
            box-shadow: none;
            float: none;
            position: relative;
            -ms-transform: none;

            .simpleLens-big-image {
                max-width: 100%;
                -ms-transform: none;
            }

            .simpleLens-mouse-cursor {
                background-color: #ccc;
                opacity: 0.2;
                filter: alpha(opacity = 20);
                position: absolute;
                top: 0;
                left: 0;
                border: 1px solid $border-bgcolor-default;
                box-shadow: 0 0 2px 2px #999;
                cursor: none;
                -ms-transform: none;
            }
        }
    }

    
}

.simpleLens-lens-element {background-color:$base-color-white;box-shadow: 0 0 2px 2px #8e8e8e;height:100%;left:105%;overflow:hidden;position:absolute;top:0;width:100%;z-index:9999;text-align:center;-ms-transform:none;
         img{position:relative;top:0;left:0;width:auto !important;max-width:none !important;-ms-transform: none;}
}*/
// For IE11 Only.
*::-ms-backdrop, .simpleLens-gallery-container .simpleLens-container {
    display: block;
}
*::-ms-backdrop, .simpleLens-gallery-container .simpleLens-big-image-container {display:inline-block;vertical-align:middle;} 
*::-ms-backdrop, .simpleLens-gallery-container .simpleLens-big-image-container:before {content:"";height:100%;display:inline-block;vertical-align:middle;}

// PDP View Template.
/*.small-view-template{
    .product-view-details .product-images .alternate-img{padding:20px;}    
    .simpleLens-gallery-container .simpleLens-big-image-container .simpleLens-lens-image {width:70%;}
    .simpleLens-container{height:275px;}
    .simpleLens-lens-element {left: 85%;}
}*/

// Product Zoom Effect In.
.easyzoom{position:relative;}
.easyzoom-flyout,.easyzoom-notice{position:absolute;background:$base-color-white;margin-left:auto;margin-right:auto;}
.easyzoom img{vertical-align:bottom;}
.easyzoom.is-loading img{cursor:progress}
.easyzoom.is-ready img{cursor:crosshair}
.easyzoom.is-error img{cursor:not-allowed}
.easyzoom-notice{top:50%;left:50%;z-index:150;width:10em;margin:-1em 0 0 -5em;line-height:2em;text-align:center;box-shadow:0 0 10px #888}
.easyzoom-flyout{z-index:100;overflow:hidden;}
.easyzoom-overlay .easyzoom-flyout{top:0;left:0;width:100%;height:100%}
.easyzoom-adjacent .easyzoom-flyout{top:0;left:100%;width:100%;height:100%;margin-left:20px}
.easyzoom .easyzoom-img{display:table;width:100%;text-align:center;}
.PDPImgHeight{height:365px}
.VideoURL-gallery-container{padding-top:90px;}

// Media Query.
@include screensize(x-small) {
    .ImageModal{z-index: 9;position: absolute;width: 100%;height: 100%;display: block;opacity: .0;}
    .PDPImgHeight {height: auto}
    #owl-demoImage .item img {height: auto;max-width: 100%;}
    .YouTubeFrame{width:100%;height:250px;}
    .setimageheightpdp{max-width:100%;height:auto;}
    .product-view-details .product-images {padding-left: 15px;padding-right: 15px;}
    .easyzoom{position:relative;height:auto;}
    .easyzoom-overlay .easyzoom-flyout{top:0;left:0;width:100%;height:auto;}
    .product-view-details .product-images .owl-theme .owl-controls .owl-buttons .owl-prev{left:-10px;}
    .product-view-details .product-images .owl-theme .owl-controls .owl-buttons .owl-next{right:-10px;}
    .modal-fullscreen {width: 100%;height: 100%;margin: 0;top: 0;left: 0;}
    .mobile-modal-heightfit {height: 100%;
         .close{z-index: 9;position: inherit;}
    }
}
@include screensize(xl-small){
    .PDPImgHeight{height:auto}
    .YouTubeFrame{width:100%;height:356px;}
}
/*@include screensize(x-small) {
    .simpleLens-gallery-container{
        .product-altimages{
            ul{padding: 0px 0px 0px 3px;list-style:none;}
        }
    }
    .simpleLens-lens-element {display:none;}
    .big-view-template{
        .simpleLens-container{height:290px;}
    }
    .product-view-details .product-images .product-altimages{margin-top:20px;}
    .btn-wishlist{top:20px;right:0px;}
}*/

@include screensize(small) {
    .YouTubeFrame{width:100%;height:356px;}
}
/*@include screensize(medium) {
    .simpleLens-lens-element {display:block;}
    .product-view-details .product-images .owl-theme .owl-controls .owl-buttons .owl-prev{left:5px;}
    .product-view-details .product-images .owl-theme .owl-controls .owl-buttons .owl-next{right:10px;}
}*/

@include screensize(medium){
    .setimageheightpdp{max-width:100%;height:auto;}
    .YouTubeFrame{width:100%;height:356px;}
}
@include screensize(desktop){
    .PDPImgHeight{height:500px}
    .setimageheightpdp{max-width:100%;height:auto;}
    .YouTubeFrame{width:100%;height:356px;}
}
@include screensize(x-large){
    .setimageheightpdp{max-width:100%;height:auto;}
    .YouTubeFrame{width:100%;height:535px;}
}


/*@include screensize(x-large){
    .product-view-details .product-images .owl-theme .owl-controls .owl-buttons .owl-prev{left:0px;}
    .product-view-details .product-images .owl-theme .owl-controls .owl-buttons .owl-next{right:10px;}
    .product-view-details .product-images .owl-carousel{width:71%;left:15%;
       .owl-item {width: 116px !important;}
    } 
}*/









