﻿@model Znode.Engine.WebStore.ViewModels.WidgetSliderBannerViewModel
@using Znode.Engine.WebStore.Agents
@{
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
}
@if (!Equals(Model, null) && Model.CMSMode)
{
    if (Model.IsEmpty)
    {
        <div class="col-xs-12 nopadding cms-icon-container">
            <img src="@_fileLocation/Images/banner-slideshow.png" alt="New Product" class="img-responsive cms-img-icon" />
        </div>
    }
}
<div class="row">
    <div data-test-selector="divTopSlider" id="top-slider" data-navigation="@Model.Navigation" class="owl-carousel slider Top-Slider @Model.Type">
        @{
            int counter = 0;
            string mediaUri = PortalAgent.CurrentPortal.MediaServerUrl;
            if (!Equals(Model.SliderBanners, null))
            {
                foreach (var item in Model.SliderBanners)
                {
                    string mediaPath = $"{mediaUri}{item.MediaPath}";
                    string _active = counter == 0 ? "item active" : "item";
                    <div class="@_active">
                        <a href="@item.ButtonLink" target="_blank">
                            <img src="@mediaPath" alt="@item.ImageAlternateText" data-test-selector="imgMediaPath" />
                            <div class="carousel-caption @item.TextAlignment">
                                @Html.RenderBlock(item.Description)
                            </div>
                        </a>
                    </div>
                    counter++;
                }
            }
        }
    </div>
    <button id="pause" class="button glyphicon glyphicon-pause" title="Pause"><span class="hidden">Pause</span></button>
</div>
<script type="text/javascript">/*<![CDATA[*/$(function(){if(@Html.RenderBlock(Newtonsoft.Json.JsonConvert.SerializeObject(Convert.ToString(Model.AutoPlay).ToLower()))=="true"){$(".Top-Slider").owlCarousel({navigation:true,singleItem:true,mouseDrag:false,autoPlay:@Html.RenderBlock(Newtonsoft.Json.JsonConvert.SerializeObject(Model.AutoplayTimeOut)),stopOnHover:@Html.RenderBlock(Newtonsoft.Json.JsonConvert.SerializeObject(Convert.ToString(Model.AutoplayHoverPause).ToLower()))=="true"?true:false,transitionStyle:@Html.RenderBlock(Newtonsoft.Json.JsonConvert.SerializeObject(Model.TransactionStyle)),navigationText:["<i class='zf-arrow-left-big'></i>","<i class='zf-arrow-right-big'></i>"]})}else{$(".Top-Slider").owlCarousel({navigation:true,singleItem:true,autoPlay:false,mouseDrag:false,stopOnHover:@Html.RenderBlock(Newtonsoft.Json.JsonConvert.SerializeObject(Convert.ToString(Model.AutoplayHoverPause).ToLower()))=="true"?true:false,transitionStyle:@Html.RenderBlock(Newtonsoft.Json.JsonConvert.SerializeObject(Model.TransactionStyle)),navigationText:["<i class='zf-arrow-left-big'></i>","<i class='zf-arrow-right-big'></i>"]})}var a=$(".Top-Slider").data("navigation");if(a==="Dots"){$(".Top-Slider .owl-pagination").css("display","block");$(".Top-Slider .owl-buttons").css("display","none")}else{$(".Top-Slider .owl-buttons").css("display","block");$(".Top-Slider .owl-pagination").css("display","none")}});/*]]>*/</script>
<style rel="stylesheet" type="text/css">
    .owl-theme .owl-controls {
        float: right;
        right: 5.5%;
        position: relative;
        top: 0
    }
    .owl-theme .owl-controls .owl-buttons div {
        opacity: 1
    }
</style>
<script type="text/javascript">$(function () { var a = $(".owl-carousel").data("owlCarousel"); a.play(); $("#pause").click(function () { if ($(this).attr("id") === "pause") { $(this).removeClass("glyphicon glyphicon-pause"); a.stop(); $(this).attr("id", "play"); $(this).attr("title", "Play"); $(this).addClass("glyphicon glyphicon-play") } else { a.play(); a.next(); $(this).removeClass("glyphicon glyphicon-play"); $(this).attr("title", "Pause"); $(this).addClass("glyphicon glyphicon-pause"); $(this).attr("id", "pause") } }) });</script>