﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    @Html.ActionLink(User.Identity.GetUserName(), "Dashboard", "User", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage account", @data_test_selector = "txtUserName" })
    <a href="/User/Logout" class="log-off hidden-lg hidden-md visible-xs" id="log-off" data-test-selector="linkLogOff">@WebStore_Resources.LabelLogOff</a>
}
else
{
    <a href="javascript:void(0)" onclick="User.prototype.LoginMethod()" id="loginLink" data-test-selector="linkLoginLink" title="@WebStore_Resources.TitleMyAccount">@WebStore_Resources.TitleMyAccount</a>
}


